<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EduAudit - Ensuring Quality Education for All</title>
    <link rel="stylesheet" href="/css/partials.css">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar">
        <div class="container">
            <div class="logo">Edu<span>Audit</span></div>
            
           
        </div>
    </nav>
